@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  width: 100vw;
  overflow-x: hidden;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .custom-div:before {
    content: '';
    position: absolute;

    left: -25px;
    top: -25px;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    filter: blur(50px);
  }
}

@layer components {
  .custom-before:before {
    height: 1px;
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.35);
    bottom: 0;
  }
}

@layer components {
  .custom-after::after {
    height: 1px;
    content: '';
    position: absolute;
    width: 50%;
    background: white;
    bottom: 0;
    left: 0;
  }

  .isActive .custom-after::after {
    right: 0;
  }
}

.overflow-hidden-body {
  position: fixed;
  /* width: 100%; */
  overflow-y: scroll;
}

.gradient-overlay {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.07),
    rgba(240, 68, 56, 0.07)
  );
}
